@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

header {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

header .title {
  text-decoration: none;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  position: absolute;
  top: 32px;
  left: 65px;
  z-index: 2;
  transition: color 0.3s;
  margin-left: 5px;
}

.dark-theme header .title {
  color: black;
}

header .title:hover {
  color: #0080ff;
}

.dark-theme header .title:hover {
  color: #00bfff;
}

#donate-button {
  display: inline-block;
}

#donate-button a {
  /*  margin-left: 10px; */
  margin-right: 2px;
}

#donate-button:hover {
  color: #0080ff;
}

#donate-button:hover #heart-icon {
  cursor: none;
  animation: heartbeat 1s infinite;
}

.dark-theme #donate-button:hover #heart-icon {
  cursor: none;
  animation: heartbeat 1s infinite;
  color: #00bfff;
}

#donate-button:hover #heart-icon:hover,
#donate-button:hover #donate-link {
  color: #0080ff;
}

.dark-theme #donate-button:hover #heart-icon:hover,
.dark-theme #donate-button:hover #donate-link {
  color: #00bfff;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#heart-icon {
  font-size: 14px;
}

header nav {
  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 1;
  display: flex; /* Add flex display */
}

header nav div {
  margin-right: 10px; /* Add margin between the div elements */
}

/* header nav i {
  margin-left: 0;
} */

header nav div:hover {
  color: #0080ff;
  cursor: pointer;
  transition: color 0.3s;
}

.dark-theme nav div:hover {
  color: #0080ff;
  cursor: pointer;
  transition: color 0.3s;
}

header nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  transition: color 0.3s;
}

.dark-theme header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: #0080ff;
}

.dark-theme header nav a:hover {
  color: #00bfff;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  transition: background-color 0.5s, color 0.5s;
  font-size: 16px;
}

.dark-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme .pongVideo {
  filter: invert(100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: block;
}

.logo {
  font-size: 64px;
  font-weight: bold;
  margin: 16px;
  transition: color 0.5s;
}

.dark-theme .logo {
  color: #000000;
}

.button {
  background-color: #00bfff;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  transition: background-color 0.5s, color 0.5s;
  z-index: 2;
  border-radius: 25px;
}

.dark-theme .button {
  background-color: #0080ff;
  color: #ffffff;
  z-index: 2;
  border-radius: 25px;
}

.button:disabled {
  background-color: #ccc;

  color: black;
  opacity: 0.8;
}

.dark-theme .button:disabled {
  background-color: #ffffff;

  opacity: 0.5;
  border: 2px solid #ccc;
}

.button:hover {
  background-color: #0080ff;
  cursor: pointer;
  z-index: 2;
}

.dark-theme .button:hover {
  background-color: #00bfff;
  cursor: pointer;
  z-index: 2;
}

.button:disabled:hover {
  background-color: #ccc;
  z-index: -1;
}

.dark-theme .button:disabled:hover {
  background-color: #ffffff;
  z-index: -1;
}

footer {
  display: flex;
  justify-content: center;
}

footer .sun {
  cursor: pointer;
  position: fixed;
  height: 48px;
  width: 48px;
  left: 32px;
  bottom: 28px;
  box-sizing: border-box;
  fill: #ffffff;
  transition: fill 0.3s;
}

footer .sun:hover {
  fill: #0080ff;
}

footer .moon {
  cursor: pointer;
  position: fixed;
  height: 48px;
  width: 48px;
  left: 32px;
  bottom: 28px;
  box-sizing: border-box;
  fill: #000000;
  transition: fill 0.3s;
  display: none;
}

footer .moon:hover {
  fill: #00bfff;
}

footer .social-links {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
}

footer .social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 18px;
  transition: filter 0.5s;
}

footer .twitter-logo {
  fill: #ffffff;
  transition: fill 0.3s;
}

footer .twitter-logo:hover {
  fill: #0080ff;
}

.dark-theme .twitter-logo {
  fill: #000000;
}

.dark-theme .twitter-logo:hover {
  fill: #00bfff;
}

footer .github-logo {
  fill: #ffffff;
  transition: fill 0.3s;
}

footer .github-logo:hover {
  fill: #0080ff;
}

.dark-theme .github-logo {
  fill: #000000;
}

.dark-theme .github-logo:hover {
  fill: #00bfff;
}

footer .telegram-logo {
  fill: #ffffff;
  transition: fill 0.3s;
}

footer .telegram-logo:hover {
  fill: #0080ff;
}

.dark-theme .telegram-logo {
  fill: #000000;
}

.dark-theme .telegram-logo:hover {
  fill: #00bfff;
}

footer .discord-logo {
  fill: #ffffff;
  transition: fill 0.3s;
}

footer .discord-logo:hover {
  fill: #0080ff;
}

.dark-theme .discord-logo {
  fill: #000000;
}

.dark-theme .discord-logo:hover {
  fill: #00bfff;
}

.star {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: white;
  box-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px white;
  border-radius: 50%;
  animation: twinkle 5s linear infinite;
  animation-delay: calc(-5s * var(--delay));
  z-index: -1;
  --delay: 0;
}

@keyframes star-color {
  0% {
    background-color: #00bfff;
  }
  33% {
    background-color: #000000;
  }
  66% {
    background-color: #00bfff;
  }

  100% {
    background-color: #000000fd;
  }
}

.meteorite {
  position: absolute;
  top: -50px;
  left: -45px;
  width: 2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  animation: meteorite 5s linear;
  z-index: 0;
}

@keyframes meteorite {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(calc(100vw + 32px), calc(-100vh - 32px));
    opacity: 1;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.step-text {
  margin-right: 1rem;
}

.network-dropdown {
  margin-left: 10px;
  border-radius: 25px;
  padding: 16px 32px;
  margin-right: 1rem;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#webapp-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
  left: 32px;
  z-index: 2;
  fill: #ffffff;
  transition: fill 0.3s;
}

#webapp-logo:hover {
  cursor: none;
  fill: #0080ff;
  transform-origin: center;
  animation: rotateWheel 3s infinite linear;
}

@keyframes rotateWheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-theme #webapp-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
  left: 32px;
  z-index: 2;
  fill: #000000;
  transition: fill 0.3s;
}

.dark-theme #webapp-logo:hover {
  fill: #00bfff;
}

.choose-btn {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

.dark-theme .choose-btn {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

.choose-btn:disabled {
  cursor: default;
  background-color: transparent;
}

.choose-btn:hover:not([disabled]) {
  background-color: #0080ff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.dark-theme .choose-btn:hover:not([disabled]) {
  background-color: #00bfff;
  color: #ffffff;
  transition: all 0.3s ease;
}

body.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

#shadow {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  z-index: -1;
  animation: pulse 20s ease-out infinite, light 20s ease-out infinite;
}

.choose-btn:hover ~ #shadow {
  animation: fire 2s ease-out infinite;
}

@keyframes fire {
  0% {
    box-shadow: 0 0 50px 10px #ff6a00;
  }
  25% {
    box-shadow: 0 0 50px 30px #ff6a00;
  }
  50% {
    box-shadow: 0 0 50px 60px #ff6a00;
  }
  75% {
    box-shadow: 0 0 50px 30px #ff6a00;
  }
  100% {
    box-shadow: 0 0 50px 10px #ff6a00;
  }
}

@keyframes light {
  0% {
    box-shadow: 0 0 50px 5px #0080ff;
  }
  25% {
    box-shadow: 0 0 50px 30px #0080ff;
  }
  50% {
    box-shadow: 0 0 50px 60px #0080ff;
  }
  75% {
    box-shadow: 0 0 50px 30px #0080ff;
  }
  100% {
    box-shadow: 0 0 50px 5px #0080ff;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

#sphere {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  z-index: 0;
  animation: blacksphere 20s ease-out infinite;
}

@keyframes blacksphere {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 1);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.dark-theme #shadow {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse1 20s ease-out infinite, light1 20s ease-out infinite;
}

@keyframes light1 {
  0% {
    box-shadow: 0 0 50px 5px #00bfff;
  }
  25% {
    box-shadow: 0 0 50px 30px #00bfff;
  }
  50% {
    box-shadow: 0 0 50px 60px #00bfff;
  }
  75% {
    box-shadow: 0 0 50px 30px #00bfff;
  }
  100% {
    box-shadow: 0 0 50px 5px #00bfff;
  }
}

@keyframes pulse1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

.dark-theme #sphere {
  width: 500px;
  height: 500px;
  border-radius: 50%;

  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 0;
  animation: blacksphere1 20s ease-out infinite;
}

@keyframes blacksphere1 {
  0% {
    background-color: rgb(255, 255, 255);
  }
  25% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
  75% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
  display: none;
  color: black;
  text-align: center;
}

.blur {
  filter: blur(5px);
}

#close-dialog {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
}

.wallet-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-section p {
  margin-right: 10px;
}

.powered-by {
  position: absolute;
  bottom: 32px;
  color: rgba(103, 103, 103, 0.476);
  font-size: 12px;
}

.link-no-style {
  color: inherit;
  text-decoration: none;
}

.container-buy {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

.step-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.step-text-buy {
  margin-bottom: 1rem;
  white-space: nowrap;
}

.choose-div {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

.dark-theme .choose-div {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

/* Styles for the link when not visited */
.container-buy :link {
  text-decoration: none;
  color: white; /* Set text color to white */
  cursor: pointer; /* Set cursor to pointer on hover */
}

/* Styles for the link when visited */
.container-buy a:visited {
  text-decoration: none; /* Remove underline */
  color: white; /* Set text color to white */
}

/* Styles for the link when not visited */
.dark-theme .container-buy :link {
  text-decoration: none;
  color: rgb(0, 0, 0); /* Set text color to white */
  cursor: pointer; /* Set cursor to pointer on hover */
}

/* Styles for the link when visited */
.dark-theme .container-buy a:visited {
  text-decoration: none; /* Remove underline */
  color: rgb(0, 0, 0); /* Set text color to white */
}

/* Styles for the link when hovering */
.container-buy a:hover {
  color: #0080ff;
  transition: color 0.3s;
}

.dark-theme .container-buy a:hover {
  color: #00bfff;
  transition: color 0.3s;
}

.choose-btn-buy {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

.dark-theme .choose-btn-buy {
  background-color: transparent;
  border: 2px solid linear-gradient(to right, #b24592, #f15f79, #ffa160);
  border-radius: 25px;
  background-clip: padding-box;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  width: 210px;
}

.choose-btn-buy:disabled {
  cursor: default;
  background-color: grey;
}

.choose-btn-buy:hover:not([disabled]) {
  background-color: #0080ff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.dark-theme .choose-btn-buy:hover:not([disabled]) {
  background-color: #00bfff;
  color: #ffffff;
  transition: all 0.3s ease;
}

#greyout {
  background-color: grey;
}

.dark-theme #greyout {
  background-color: rgb(208, 208, 208);
}

.dark-theme .choose-btn-buy:disabled {
  cursor: default;
  background-color: rgb(208, 208, 208);
}
